
.flexbox {
    display: flex;
}

section {
    width: 70vw;
    height: 50vh;
    background-color: rgb(60, 0, 255);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

aside {
    width: 30vw;
    height: 50vh;
    background-color: bisque;
}

.caja {
    margin: 2px;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    word-break: break-all;

}
