/*EN ESTE CASO NOSOTROS ESTAMIS PONIENDO ESTE ENLACE DE GOOGLE PARA LA FUENTE DE NUESTRA PÁGINA*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*AHORA ESTAMOS REALIZANDO LA CONFIGURACIÓN DE LOS BORDES DE LA PÁGINA WEB COMO LA FUENTE DE LENTRA LOS MÁRGENES, EL ESPACIO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
/*EN ESTE CASO NOSOTROS ESTAREMOS ELIGIENDO LA FUENTE DE LA LETRA DE NUESTRO BODY Y EL COLOR  DE FONDO*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #c0965f;
}
/*AHORA NOSOTROS CREAREMOS LA BARRA DONDE SE ENCONTRARÁN LAS LISTAS PARA PODER SELECCIONAR LOS APARTADOS COMO "FÚTBOL","BALONCESTO","UFC" ETC..*/
nav {
  background: #171c24;
  height: 80px;
  width: 100%;
}
/*LO QUE ESTAMOS REALIZANDO, ES QUE NUESTRO NUESTRO NOMBRE "VICWAS" SE ENCUENTRE CON LAS SIGUIENTES CARACTERÍSTICAS*/
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
/*AHORA NOSOTROS ESTAREMOS COLOCANDO LAS "UL" EN LA UBICACIÓN DEL CENTRO*/
nav ul {
  float: right;
  margin-right: 200px;
}
/*LO QUE ESTAMOS HACIENDO AHORA ES QUE LAS UL SE ENCUENTRE EN FORMA DE LÍNEA Y TAMBIÉN EN LA UBICACIÓN CENTRAL DEL NAV*/
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
/*EN ESTE CASO NOSOTROS ESTAMOS PONIENDO COLOR,FILTRO,TAMAÑO A LAS "UL"(NOMBRE,SOBRE NOSOTROS,FÚTBOL,BALONCESTO ETC...)*/

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
/*EN ESTA LÍNEA ESTAREMOS MODIFICANDO EL ICONO "HAMBURGUESA"*/
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
/*EN ESTA SECCIÓN ESTAMOS QUITANDO EL CUADRADO DE CHECH (SÍMBOLO AL SELECCIONARLO)*/
#check1 {
  display: none;
}

/*RESPONSIVE EN LA BARRA DE NAVEGACIÓN*/

@media (max-width: 1366px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #171c24;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #c0965f;
  }
  #check1:checked ~ ul {
    left: 0;
  }
}

/*EN ESTER APARTADO NOSOTROS ESTAMOS ESTABLECIENDO NUESTRO "FORMULARIO DE LOGIN" EN EL CENTRO CON DIMENSIONES, RADIUS Y UN COLOR DE BACKGROUND QUE EN NUESTRO CASO ES BLANCO*/
.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

/*EN ESTE MOMENTO ESTAMOS PONIENDO EL TEXTO EN EL CENTRO Y AÑADIENDO UN COLOR SILVER A LAS LETRAS*/
.centro h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
/*EN NUESTRO FORMULARIO ESTAMOS AGREGANDO UN PADDING MAYOR Y UNOS BORDES DE FORMA CIRCULAR*/
.centro form {
  padding: 0 10px;
  box-sizing: border-box;
}
/*NOSOTROS EN ESTE CASO ESTAMOS MODIFICANDO QUE LOS BORDES DEL CAMPO SEAN DE COLOR "PLATA" Y CONFIGURAR ESPACIO DEL MARGEN*/
form .campo {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
/*EN ESTE APARTADO NOSOTROS ESTAMOS MODIFICANDO LO QUE SERÍA EL ESPACIO DEL CAMPO, EDITANDO LOS MARCOS...*/
.campo input {
  width: 200%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
/*EN ESTE CASO ESTAMOS DICIENDO QUE EL BACKGROUND SE ENCUENTRE ABSOLUTE Y QUE LAS LETRAS SE ENCUENTRE EN BUEN POSICIONAMIENTO CAMBIAR EL COLOR DE "CORREO", "CONSTRSEÑA"TAMBIÉN LE AGREGAMOS UNA TRANSICCIÓN DE 5 SEG */
.campo label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
/*AHORA ESTAMOS EDITANDO LO QUE SERÍA LA BARRA QUE SE ENCUENTRA ADEBAJO DE LOS NOMBRES, EL POSICIONAMIENTO, EL COLOR... TAMBIÉN CREAMOS TRANSICIÓN DE 5 SEG*/

.campo span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #c0965f;
  transition: 0.5s;
}
/*ACTUALMENTE ESTAMOS EDITANDO EL COLOR DE LAS LETRAS Y EL POSICIONAMIENTO*/
.campo input:focus ~ label,
.campo input:valid ~ label {
  top: -5px;
  color: #c0965f;
}
/*AGREGAMOS UN HANCHO DE 100% PARA EVITAR PROBLEMAS DE COMPATIBILIDAD*/
.campo input:focus ~ span::before,
.campo input:valid ~ span::before {
  width: 100%;
}

/*ESTAMOS AGREGANDO UN COLOR , UN MARGEN Y QUE EL CURSOR CAMBIE CUANDO ESTE ENCIMA DE LA SECCIÓN*/
.contraseña {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
/*TAMBIÉN ESTAMOS AGREGANDO QUE AL ESTAR POR ENCIMA SE SUBRAYE LA  ORACIÓN*/
.contraseña:hover {
  text-decoration: underline;
}
/*AHORA ESTAMOS EDITANDO  LO QUE  SERÍA EL BOTÓN DE  LOGIN  AGREGANDO ESPACIO, MÁRGENES EDICIÓN DE FUENTE, COLOR ETC.*/
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #c0965f;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
/*EN ESTE APARTADO CREAMOS UNA TRANSICIÓN EN LA QUE SE HACE "ZOOM " AL  "LOGIN"*/
input[type="submit"]:hover {
  border-color: #c0965f;
  transition: 0.5s;
}
/*AHORA NOSOTROS ESTAMOS EDITANDO LA PARTE DE "NO CONTRASEÑA " EN LA QUUE AGREGAMOS MÁS MARGEN MÁS FUENTE DE LETRA , COLOCACIÓN Y LETRA*/
.nocontraseña {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
/*AGREGAMOS  COLOR A "CONTACTA CON NOSOTROS"*/
.nocontraseña a {
  color: #c0965f;
  text-decoration: none;
}

/*AGREGAMOS QUE EL CURSOS AL ESTAR ENCIMA DE ESA  PARTE SE HAGA SUBRAYADO LA  ORACIÓN "CONTACTA CON NOSOTROS"*/
.nocontraseña a:hover {
  text-decoration: underline;
}

.introduccion {
  text-align: center;
}
/* EN ESTE APARTADO ESTAMOS REALIZADO EL PADDING DE SEPACIÓN ENTRE EL NAV Y EL FOOTER */
.espacio {
  padding-top: 800px;
}
/* AHORA ESTAMOS HACER QUE LAS PALABRAS QUE HEMOS ESCRITO DESAPAREZACAN */
.espacio p {
  display: none;
}
/* RESPONSIVE DEL "CENTRO" */
@media (max-width: 767px) {
  .centro {
    width: 80vw;
    top: 50%;
    margin: 0 auto;
  }
}

/*AHORA COMENZAMOS CON EL FOOTER*/

/*EN ESTE CASO NOSOTROS ESTAMOS ESTABLECIENDO EL ESPACIO EN EL QUE SE VA HA ENCONTRAR NUESTRO COTE*/
.contenedor {
  max-width: 1170px;
  margin: auto;
}
/*LO QUE ESTAMOS HACIENDO AHORA MISMO ES ESTABLECER DE FORMA CORRECTA EL CONTENIDO EN EL QUE SE TIENE QUE ADECUAR CON EL FOOTER*/

.fila {
  display: flex;
  flex-wrap: wrap;
}
/*AQUÍ ESTAMOS QUITANDO LO QUE SERÍAN LOS PUNTOS * DE LAS LISTAS*/
ul {
  list-style: none;
}
/*EN ESTE MOMENTO NOSOTROS ESTAMPS COLOCANDO EL ESPACIO DONDE SE VA A SITUAR LO QUE SERÁ NUESTRO FOOTER*/
.espacioabajo {
  background-color: blanchedalmond;
  padding: 50px;
  padding-top: 50px;
  margin-top: 655px;
}

.footer {
  background-color: #171c24;
  padding: 70px 0;
  padding-top: 50px;
}
/*AHORA ESTAMOS ESTABLECIENDO EL HANCHO ENTRE LAS COLUMNAS*/
.footer-columna {
  width: 25%;
  padding: 0 15px;
}

/*ACONTINUACIÓN ESTAMOS DICIENDO QUE LOS TÍTULOS DE CADA COLUMNA TENGAN UN H4 Y CAMBIAREMOS ALGUNOS ASPECTOS*/

.footer-columna h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: px;
  position: relative;
}
/* CON LO QUE ESTAMOS HACIENDO AHORA ES QUE EXISTA UNA ESPACIO ENTRE PALABRA-PALABRA (FUENTE ENCONTRADA EN GOOGLE)*/
.footer-columna ul li:not(:last-child) {
  margin-bottom: 10px;
}
/*AHORA ESTAMOS EDITANDO TODO LO QUE SERÍA LA FUENTE DEL FOOTER,LA SANGRÍA, EL COLOR DE LAS LETRAS*/
.footer-columna ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300px;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
/*ESTA EDICIÓN ES EL MOVIMIENTO AL SELECCIONAR UNA OPCIÓN (MOVERSE)*/
.footer-columna ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
/*ESTAMOS EDITANDO LO QUE SERÍA LOS SITIOS EN LOS QUE SE VAN A ENVONTRAR LOS ICONOS DE LAS REDES SOCIALES*/
.footer-columna .redes-sociales a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
/*AHORA ESTAMOS EDITANDO LO QUE SERÍA LA ANIMACIÓN DE LOS SÍMBOLOS DE LAS REDES SOCIALES*/
.footer-columna .redes-sociales a:hover {
  color: #171c24;
  background-color: #ffffff;
}

/*RESPONSIVE DEL FOOTER*/

@media (max-width: 767px) {
  .footer-columna {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-columna {
    width: 100%;
  }
}
